html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
html{height:100%}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
body {
    width: 1920px;
    font-family: Arial, Helvetica, sans-serif
}

.nav-wrapper {
    display: flex;
    align-items: center;
    height: 60px;
    justify-content: space-around;
    /* border-bottom: 1px solid white; */
}

header {
    height: 800px;
    background-image: url(img/bgc.jpg);
    color: #ffff
}

.nav-list {
    display: flex;
}

.nav-item {
    margin-right: 47px;
    color: white;
}

.radius {
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    border-radius: 10px;
}

.bottom-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 500px;


}

.left-block {
    padding: 20px;
}


.left-block h1 {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 25px;

}

.left-block span {
    font-size: 20px;

}

.arrow span {
    font-size: 12px;
}

.arrow {
    margin-top: 25px;
    justify-content: center;
}

.container-up {
    display: flex;
}

.block-item {
    display: flex;
    margin: 30px;
    ;
    width: 255px;
    height: 148px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-direction: column;
}

.blue {
    background-color: #2378FC;

}

.aqua {
    background-color: #30BCC9;
}

.yellow {
    background-color: #FFC41E;
}

.red {
    background-color: #F6404F;
}

main {
color: #ffff
}
.main-container {
    display: flex;
    height: 426px;
    background-color: #2378FC;
    justify-content: space-around;
}
.List-item h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding-bottom: 15px;
    padding-top: 10px;
}


